<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Práctica 4 Pablo_Morenilla</title>
  </head>
  <body>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% include 'modal_datos.html' %}
    {% include 'modal_delete.html' %}
    {% include 'modal_new.html' %}
    {% include 'modal_edit.html' %}
    <script>
        const recetas = []              // declaraciones   
        let html_str  = ''              // de variables
        let i         = 0               //
        // fetch devuelve una promise
        fetch('/api/recipes')           // GET por defecto,
        .then(res => res.json())        // respuesta en json, otra promise
        .then(filas => {                // arrow function
            filas.forEach(fila => {     // bucle ES6, arrow function
                i++
                recetas.push(fila)      // se guardan para después sacar cada una             
                // ES6 templates
                html_str += `
                <tr id="${fila._id}">
                    <td>${i}</td>
                        <td>
                            <button onclick="detalle('${fila._id}')" 
                                type="button" class="btn btn-outline btn-sm"
                                data-bs-toggle="modal" data-bs-target="#modal_info" data-bs-dismiss="modal">
                                ${fila.name}
                            </button>
                        </td>
                    <td>
                        <button onclick="editar('${fila._id}')" type="button" class="btn btn-warning btn-sm btn-sm mx-4" data-bs-toggle="modal" data-bs-target="#modal_edit" data-bs-dismiss="modal">Edit</button>
                        <button onclick="borrar('${fila._id}')" type="button" class="btn btn-danger btn-sm btn-sm mx-4" data-bs-toggle="modal" data-bs-target="#modal_borrar" data-bs-dismiss="modal">Borrar</button>
                    </td>
                </tr>`         // ES6 templates
            });
            document.getElementById('tbody').innerHTML=html_str  // se pone el html en su sitio
        })
      


        function detalle(i) {  // saca un modal con la información de cada coctel
            let html_str  = ''
            fetch('/api/recipes/'+i)
            .then(response => response.json())
            //.then(filas => document.getElementById('recipe_data').innerHTML=filas.name)
            .then(filas => {
                html_str +="<h3 class='modal-title' id='modal_infoLabel'>" + filas.name + "</h3>"
                html_str +="<hr class='bg-secondary border-2 border-top borde-secondary'>"
                html_str +="<h5 class='my-3'> Ingredientes </h5>"
                html_str+= "<ul class='list-group'>"
                for (var key in filas.ingredients) {
                    if (filas.ingredients.hasOwnProperty(key)) {
                        html_str+="<p>"+key + ". " + filas.ingredients[key].name+"</p>"
                    }
                }
                html_str += "</ul>"
                html_str +="<hr class='bg-secondary border-2 border-top border-secondary'>"
                html_str+='<h5> Elaboración: </h5>' + filas.instructions

                
                document.getElementById('recipe_data').innerHTML=html_str;
            })
        }   


        //Funcion que pasa el id de la receta a borrar al modal
        function borrar(id){
            document.getElementById('boton_eliminar_receta').value = id;
        }

        function editar(id){
            html_str=''
            fetch('/api/recipes/'+id)
            .then(response => response.json())
            //.then(filas => document.getElementById('recipe_data').innerHTML=filas.name)
            .then(filas => {
                
                for (var key in filas.ingredients) {
                    if (filas.ingredients.hasOwnProperty(key)) {
                        html_str+="<p>"+key + ". " + filas.ingredients[key].name+"</p>"
                    }
                }
                
//SPLIT CON LOS INGREDIENTES
                var divs = document.querySelectorAll("#inputNombreCocktel, #textareaIngredientes, #textareaInstrucciones");
                divs.forEach.call(divs, function(el){
                    el.value = filas.name;
                });
            })
        }
            
      </script>

    
    {% include 'navbar.html' %}
    
    <div class="container mt-5 mb-5">
        <button type="button" class="btn btn-primary btn-sm mb-4"  data-bs-toggle="modal" data-bs-target="#modal_new" data-bs-dismiss="modal">Crear</button>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>N</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
        <tbody id="tbody"></tbody>
        </table>
      </div>
      
  </body>
</html>