<!-- Modal_info -->
<div class="modal fade" id="modal_borrar" tabindex="-1" role="dialog" aria-labelledby="modal_info" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_infoLavel">Editar cocktel</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">¿Seguro de eliminar la receta?</div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button onclick="eliminar_receta(this.value)"
          type="button" id="boton_eliminar_receta" class="btn btn-danger" data-bs-dismiss="modal" value="VALOR">Borrar
          </button>
          <!-- Llamo al js para que haga el fetch y elimine la receta actualizando la tabla eliminando sólo esa fila -->
          <script src="{{url_for('static', filename='modalEliminaReceta.js')}}"></script>
      </div>
    </div>
  </div>
</div>
  